<div class="modal" id="new-todo-modal" tabindex="-1" data-controller="new-todo stop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title">New Todo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div data-new-todo-target="form-container">
         <%= render 'form', todo: local_assigns[:todo] %>
      </div>
    </div>
  </div>
</div>