<% content_for :navbar do %>
  <%= render "layouts/navbar", active: "finances"%>
<% end %>

<div class="container p-4">
  <h3>
    <%= if @transaction.income then 'New Income' else 'New Expense' end %>
  </h3>
  <%= render 'form' %>
</div>